<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile>
    <mat-card class="largeCard mat-elevation-z8">
      <h1 class="cardH1">Timesheet</h1>
      <div class="form-group">
        <label for="itemDatelbl">Date</label>
        <input
          #date
          type="date"
          class="form-control"
          name="date"
          id="date"
          min="2018-01-01"
          max="2020-12-31"
          placeholder="Date"
          autocomplete="off"
          ngModel
        />
      </div>
      <button type="button" class="newmsgb">today</button>
      <button type="button" class="add-task-timesheet">Add new task</button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="largeCard example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-grid-tile>
</mat-grid-list>
