<div class="container">
  <form #expenseForm="ngForm" (ngSubmit)="expenseSubmit(expenseForm.value); expenseForm.resetForm()">
    <div class="form-group">
      <h1 class="text-center text-primary">Expense App</h1>
      <div class="input-group-prepend">
        <input type="text" #expense class="form-control" placeholder="Add Expense" name="expense" autocomplete="off"
          ngModel>
        <span class="input-group-text" (click)="addExpense(expense.value)"><i class="material-icons">add</i></span>
      </div>
    </div>
    <p>here: {{expense.value}}</p>
    <div class="data">
      <ul class="list-instyled">
        <li *ngFor="let expense of expenseArray">{{expense}}<i (click)="deleteItem(expense)"
            class="material-icons">delete</i></li>
      </ul>
    </div>
  </form>
</div>