<div class="container">
  <form #expenseForm="ngForm" (ngSubmit)="expenseSubmit(expenseForm.value); expenseForm.resetForm()">
    <h1>Expenses</h1>
    <div class="form-group">
      <label for="itemNamelbl">Item's Name</label>
      <input #itemName type="text" class="form-control" name="itemName" id="itemName" aria-describedby="itemName"
        placeholder="Enter item's name" autocomplete="off" ngModel>
    </div>
    <div class="form-group">
      <label for="itemPricelbl">Price</label>
      <input #price type="number" class="form-control" name="price" id="price" placeholder="Price" autocomplete="off"
        ngModel>
    </div>
    <div class="form-group">
      <label for="itemLocationlbl">Location</label>
      <input #location type="text" class="form-control" name="location" id="location" placeholder="Location"
        autocomplete="off" ngModel>
    </div>
    <div class="form-group">
      <label for="itemDatelbl">Date</label>
      <input #date type="date" class="form-control" name="date" id="date" placeholder="Date" autocomplete="off" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Month and Year">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate" (monthSelected)="chosenMonthHandler(picker)"></mat-datepicker>
  </mat-form-field>
  <div class="data">
    <ul class="list-instyled">
      <li *ngFor="let expense of expenseArray"> {{expense.date | date}} >> {{expense.name}} >> €{{expense.price}} @
        {{expense.location}}<i (click)="deleteItem(expense)" class="material-icons">delete</i></li>
    </ul>
  </div>
</div>