/*Google fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  padding: 0;
  margin: 0;
}

form {
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
}

form h1 {
  font-family: 'Roboto';
  color: #f97300;
}

.floatRight {
  float: right;
}

form input[type='text']::placeholder {
  font-family: 'Roboto';
  color: #666;
}

.data {
  margin-top: 1em;
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
}

/* .data li {
    background: #fff;
    border-left: 4px solid #F97300;
    padding: 1em;
    margin: 1em auto;
    color: #666;
    font-family: "Roboto";
} */

.list-group-horizontal {
  margin-top: 1%;
  justify-content: left;
}

#pricePadding {
  padding-left: 5px;
}

.badge-pill {
  border-radius: 4px;
}

.list-group-item {
  font-family: 'Roboto';
  overflow: hidden;
  width: 20%;
}

.list-group-horizontal .list-group-item:last-child {
  width: auto;
}

.list-group-horizontal .list-group-item:first-child {
  border-left: 4px solid #f97300;
}

.data li i {
  float: right;
  color: #888;
  cursor: pointer;
}

form .input-group-text {
  background: #f97300;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  padding: 1em 23px;
  color: #fff;
  position: absolute;
  right: 13px;
  top: 68px;
  cursor: pointer;
}

form .input-group-text i {
  font-size: 2em;
}

form .form-control {
  height: 3em;
  font-family: 'Roboto';
}

form .form-control:focus {
  box-shadow: 0;
}
